# Entornos virtuales y Python
__pycache__/
*.py[cod]
.venv/
venv/

# Ignorar todos los datos dentro de data/
data/raw/*
data/output/silver/*
data/output/gold/*

# Mantener las carpetas vacías en Git
!data/**/.gitkeep

# Docker y temporales
.DS_Store